
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-size:14px;
  font-variation-settings:
    "wdth" 100;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-size:24px;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-size:14px;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color:rgba(58, 58, 58, 1);
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color:rgba(58, 58, 58, 1);
  font-size:16px;
}


.content-lift{
    font-size:24px;
}

.nav-right-content{
    list-style:none;
}

.search-bar img{
    width:24px;
    height:24px

}

.shopping-cart-for-small-device ,.shopping-cart img{
    width:36px;
    height:36px;
}

.nav-right-content{
    margin:0;
    display:flex;
    align-items:center;
    gap:34px;
}

.content-lift{
    margin:0;
}

nav{
    max-width:1200px;
   margin:0 auto; 
}

.nav-content{
  
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.banner h3{
    font-size:52px;
    margin-bottom:0;
}

.banner-button-img {
    width:24px;
    height:24px;
    
    
    
}

.banner-button p{
    margin:0;
    color:#FFFFFF;
    
}

.banner-button{
    background-color:#E02C6D;
    width:196px;
    height:44px;
    border-radius:41px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px;
    border:none;

}

  .banner-content{
    width:582px;
    height:282px;
   
  }


  .banner-content-p{
    margin-top:16px;
    margin-bottom:28px;
  }

 .banner-image img{
    width:440px;
    height:414px;
 }

 .banner-image{
    width:475px;
    height:475px;
    background-image:url("../influencer-gear/images/Circle\ design.svg");
    background-repeat:no-repeat;
    
 }

 .banner{
    display:flex;
    gap:7.56rem;
    align-items:center; 
    width:1200px;
    margin:0 auto;
    
 }

 .content-lift-for-small-devices{
    margin:0;
    font-size:1rem;
 }

 .nav-content-for-small-devieces{
    display:flex;
    align-items:center;
    justify-content:center;
    justify-content: space-between;
 }

 @media screen and (max-width:576px) {
    .nav-content{
        display:none;
    }
    .hede-br{
        display:none;
    }
    .influence-text-for-small-device{
        display:block;
    }

    .banner-content h3{
        font-size:28px;
    }
    
    .banner{
      flex-direction:column-reverse; 
       width:100%;
       gap:20px;
       
    }
    .banner-image{
      
       width:100%;

    }
    .banner-content{
        text-align:center;
        width:100%;
    }
    .button-for-small-device{
        display:flex;
        justify-content: center;
    }

    .banner-image{
        margin-top:30px;
      
    }

}

@media screen and (min-width:992px) {
    .nav-content-for-small-devieces{
        display:none;
    }
}


@media screen and (min-width:567px) and (max-width:992px) {
    .nav-content-for-small-devieces{
        display:none;
    }
}

.image-of-logos{
    display:flex;
    gap:60px;
    justify-content: center;
}

.company-logos{
    margin-top:70px;
}

@media screen and (min-width:992px) {
    .company-logos-for-small-device{
        display:none;
    }
}

@media screen and (max-width:576px)

{

    .company-logos{
        display:none;
    }

    .image-of-logos-in-first-row{
        display:flex;
        justify-content: center;
        gap:31px;
        align-items: center;
    }
    .image-of-logos-in-second-row{

        display:flex;
        justify-content: center;
         gap:31px;
         align-items: center;
         margin-top:20px;

    }

    .company-logos-for-small-device{
        margin-top: 55px;
    }
    
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.card h3{
    margin:0;
    font-size:28px;
    margin-top:16px;
    margin-bottom:5px;
}
.card p{
    margin:0;
}
.card-icons{

    display:flex;
    gap:10px;
    margin-top:5px;
}

.card-icon-botton-text{
    margin-top:10px;
}

.card-top-text{
    font-size:28px;
    text-align: center;
    margin-top:100px;
    margin-bottom:30px;
    
}

.card{
    width:329px;
    height:476px;
    padding:17px;
    border-radius:5px;
    box-shadow:0 0 40px 0 rgba(0, 0, 0, 0.15);
}
.card img{
    width:325px;
    height:256px;
}

.card-container{
    width:1200px;
    margin:100px auto;
}

.card-container-grid{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    justify-content: center;
    gap:40px;
    
}

.see-all{
    font-size:16px;
    color:rgba(224, 44, 109, 0.87);
}

.see-all-flex{
    display:flex;
    justify-content: flex-end;
    margin-top:50px;
}

@media screen and (max-width:576px){
   
     .card-container{
        width:100%;
        
     }

    .card-container-grid{
    
    grid-template-columns:repeat(1,auto);
    justify-content:center;
   
}

.see-all-flex{
    margin-right:60px;
}

}

.Featured-h1{
    color:#0A0826;
    font-size:38px;
}

.Featured-p, .join-now{
    font-size:16px;
}

.join-now{
    width:155px;
    height:44px;
    background-color:#E02C6D;
    color: #FFFFFF;
}

.Featured-prducts-content{
    display: flex;
    align-items: center;
    
    justify-content:space-between;
}
.Featured-Products{
   width:1200px;
   margin:100px auto;
}

@media screen and (max-width:576px){

    .Featured-h1-for-small-device{
        display:block;
    }
    .Featured-p-br2{
        display:none;
    }
    .Featured-p-br1{
        display:none;
    }
    .Featured-p-for-small-device-part1{
        display:block;
    }
    .Featured-p-for-small-device-part2{
        display:block;
    }
    .Featured-p-for-small-device-part3{
        display:block;
    }
    .Featured-p-for-small-device-part4{
        display:block;
    }
    .Featured-prducts-content{
        flex-direction: column-reverse;
        gap:30px;
        justify-content:center;
        align-items: center;
    }
    .Featured-Products{
        margin-top:20px;
        width:100%;
        
    }
    .Featured-h1{
        font-size:24px;
    }
    .card-container{
        margin-bottom:30px;
    }

    .Featured-img{
        width:350px;
    }
    .Featured-products-text{
        text-align: center;
    }

}
